h1 {
  color: rgba(255, 0, 0, 0.63);
}
h2 {
  color: rgba(255, 166, 0, 0.767);
}
h3 {
  color: rgba(255, 255, 0, 0.5);
}
h4 {
  color: rgba(0, 128, 0, 0.596);
}
h5 {
  color: rgba(0, 0, 255, 0.527);
}
h6 {
  color: rgba(76, 0, 130, 0.705);
}
p {
  color: rgb(163, 0, 250);
}
